.cart-dropdown-container {
  position: absolute;
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.323);

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
.black {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 4;
}