.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    background-color: white;
    border-radius: 50%;
    padding: 1px;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: rgb(181, 3, 3);
    bottom: 6px;
    right: 6px;
  }
}
